[submodule "submodules/nerdtree"]
	path = submodules/nerdtree
	url = https://github.com/preservim/nerdtree
[submodule "submodules/nerdtree-git-plugin"]
	path = submodules/nerdtree-git-plugin
	url = https://github.com/Xuyuanp/nerdtree-git-plugin
[submodule "submodules/vim-devicons"]
	path = submodules/vim-devicons
	url = https://github.com/ryanoasis/vim-devicons
[submodule "submodules/fzf"]
	path = submodules/fzf
	url = https://github.com/junegunn/fzf
[submodule "submodules/fzf.vim"]
	path = submodules/fzf.vim
	url = https://github.com/junegunn/fzf.vim
[submodule "submodules/vim"]
	path = submodules/vim-dracula
	url = https://github.com/dracula/vim
[submodule "submodules/vim-commentary"]
	path = submodules/vim-commentary
	url = https://github.com/tpope/vim-commentary
[submodule "submodules/vim-fugitive"]
	path = submodules/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "submodules/vim-airline"]
	path = submodules/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule "submodules/fzf-checkout.vim"]
	path = submodules/fzf-checkout.vim
	url = https://github.com/stsewd/fzf-checkout.vim
[submodule "submodules/vim-gutentags"]
	path = submodules/vim-gutentags
	url = https://github.com/ludovicchabant/vim-gutentags
[submodule "submodules/gruvbox"]
	path = submodules/gruvbox
	url = https://github.com/morhetz/gruvbox
[submodule "submodules/vim-signify"]
	path = submodules/vim-signify
	url = https://github.com/mhinz/vim-signify
[submodule "submodules/quick-scope"]
	path = submodules/quick-scope
	url = https://github.com/unblevable/quick-scope
[submodule "submodules/hardmode"]
	path = submodules/hardmode
	url = https://github.com/wikitopian/hardmode
